/**
 You could either edit this or `typography.config.js`, it does the same thing.
 This is easier and more natural, but typography.config.js is more powerful.
 */

.prose .toc {
  @apply sr-only;
}

.prose .admonitions {
  @apply border-mono-500/30 bg-mono-500/5 text-mono-200 rounded border leading-6;
  @apply my-6 py-4 pl-10 pr-4;
}

.prose .admonitions.red {
  @apply border-rose-500/30 bg-rose-500/5 text-rose-500;
}

.prose .admonitions.yellow {
  @apply border-amber-500/30 bg-amber-500/5 text-amber-500;
}

.prose .admonitions.green {
  @apply border-emerald-500/30 bg-emerald-500/5 text-emerald-500;
}

.prose .admonitions > :first-child {
  @apply mt-0;
}

.prose .admonitions > :last-child {
  @apply mb-0;
}

.prose .admonitions:before {
  @apply absolute block;
  @apply -ml-6 mt-0.5 h-4 w-4;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%2371717a'/%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.75 7.75h1.5v3.5' stroke='%23fff'/%3E%3Ccircle cx='8' cy='4' r='.5' stroke='%23fff'/%3E%3C/svg%3E");
}

.prose .admonitions.red:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23f43f5e'/%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.75 7.75h1.5v3.5' stroke='%23fff'/%3E%3Ccircle cx='8' cy='4' r='.5' stroke='%23fff'/%3E%3C/svg%3E");
}

.prose .admonitions.yellow:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23f59e0b'/%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.75 7.75h1.5v3.5' stroke='%23fff'/%3E%3Ccircle cx='8' cy='4' r='.5' stroke='%23fff'/%3E%3C/svg%3E");
}

.prose .admonitions.green:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%2310b981'/%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.75 7.75h1.5v3.5' stroke='%23fff'/%3E%3Ccircle cx='8' cy='4' r='.5' stroke='%23fff'/%3E%3C/svg%3E");
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply -ml-8 pl-8;
  @apply scroll-mt-[6rem];
}

.prose :is(h1, h2, h3, h4, h5, h6):hover > a:first-child {
  @apply block;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a:first-child {
  @apply hidden;
}

.prose :is(h1, h2, h3, h4, h5, h6) a:first-child:before {
  content: '#';
  @apply absolute -ml-7 text-blue-500;
}

.prose :is(h2, h3, h4, h5, h6) a:first-child:before {
  content: '#';
  @apply -ml-6;
}

.prose .mermaid {
  @apply my-6 rounded px-4 py-3;
  @apply flex items-center justify-center;
}

.prose .mermaid svg {
  filter: invert(var(--invert-percent));
}

.prose .table-auto table {
  display: table;
  table-layout: auto;
}

.prose .table-fixed table {
  display: table;
  table-layout: fixed;
}

.prose table tr :is(th, td) :first-child {
  @apply mt-0;
}

.prose table tr :is(th, td) :last-child {
  @apply mb-0;
}

.prose .rehype-shiki pre.css-variable {
  @apply my-6 rounded border px-4 py-3;
  @apply overflow-x-auto text-sm leading-6;
  @apply border-invert/10;
  @apply relative;
  color: #c9d1d9;
}

.prose pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.prose pre code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-5 inline-block w-4 text-right;
  color: rgba(115, 138, 148, 0.4);
  direction: rtl;
}

.prose .codeblock-header header,
.prose .codeblock-group nav {
  @apply rounded-t border;
  @apply border-mono-700/70;
  @apply bg-mono-950/10 h-[36px] px-4;
  @apply flex items-center justify-between;
  @apply text-mono-400 text-sm;
}

.prose .codeblock-header .rehype-shiki pre.css-variable {
  @apply mt-0 rounded-t-none border-t-0;
}

.prose .codeblock-group .codeblock-header header {
  @apply hidden;
}

.prose .codeblock-group nav button.codeblock-language-selected {
  @apply cursor-pointer;
  @apply -mr-2.5 rounded px-2.5 py-1;
  @apply hover:text-mono-300;
  @apply hover:bg-mono-700/50;
}

.prose .codeblock-group nav button.codeblock-language-selected::after {
  content: '▾';
  font-size: 18px;
  @apply ml-1;
}

.prose .codeblock-group nav span.codeblock-language {
  @apply relative;
}

.codeblock-language-options {
  @apply invisible -translate-y-1 opacity-0 transition-all duration-200 ease-in-out;
  @apply absolute -right-6 -top-6 z-50 p-6;
  @apply flex;
}

button.codeblock-language-selected:focus + div.codeblock-language-options {
  @apply visible translate-y-0 opacity-100;
}

.codeblock-language-options div {
  @apply rounded p-1.5;
  @apply bg-mono-800 shadow-lg;
  @apply flex flex-col;
}

.codeblock-language-options div > button {
  @apply cursor-pointer;
  @apply rounded px-3 py-0.5;
  @apply text-left;
  @apply hover:text-mono-300;
  @apply hover:bg-mono-900/50;
}

.prose img {
  @apply rounded;
}

.prose pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.prose pre code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-5 inline-block w-4 text-right;
  color: rgba(115, 138, 148, 0.4);
  direction: rtl;
}
